@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

*{
  background-color:#191970;
  font-family: 'Kanit', sans-serif;
}

.field{
  border-color: 	#FFD700;
  margin: 0.5rem 0rem ;
  color: white;
  background-color: transparent;
}
.field:active{
  border:none;
  color:blue;
  background-color: transparent;
}
.field:focus{
  border:none;
  color: yellow;
  background-color: transparent;
}